body,
html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background-color: black;
  color: #ddd;
  height: 100%;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dialog {
  background-color: rgba(70, 70, 70, 0.7);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 2rem;
  width: 17rem;
  padding: 0.5rem;
  box-shadow: 0.2rem 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
  cursor: default;
  backdrop-filter: blur(15px);
}

.label {
  float: left;
  width: 5em;
  text-align: right;
  padding-top: 0.6rem;
}

.row {
  display: flex;
}

.button-row {
  justify-content: space-between;
}

#loading {
  margin: 10rem;
  text-align: center;
  font-size: 15rem;
}

h1,
h2,
h3 {
  padding: 0rem;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: crosshair;
  image-rendering: optimizeSpeed;
}

button {
  background-color: #333;
  border-radius: 0.25rem;
  border: 0.15rem solid #777;
  padding: 0.4rem;
  color: #ddd;
  font-size: 1rem;
  width: 5rem;
}
button:hover {
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}

input,
select {
  margin: 0.6rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

input.larger {
  width: 1.3rem;
  height: 1.3rem;
}

footer {
  font-size: 0.4rem;
  padding-top: 1rem;
  text-align: center;
}

a {
  color: #ddd;
  text-decoration: none;
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

/* ==== Toggle button ================================= */

.onoffswitch {
  position: relative;
  width: 127px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #333333;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: 'Mandelbrot';
  padding-left: 10px;
  background-color: #2486e2;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: 'Julia';
  padding-right: 10px;
  background-color: #157a37;
  color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 21px;
  margin: 4.5px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 93px;
  border: 2px solid #3f3f3f;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
